In [1]:
import pandas as pd

df = pd.read_csv("seal_0_salah_trial.csv")

In [3]:
new_df = df[['question', 'answer', 'result']]

In [4]:
new_df

,question,answer,result
0,Who holds the all-time record at the Grammys f...,Serban Ghenea,**Taylor Swift** holds the all-time record for...
1,How many NBA players have scored 60 or more po...,12 players,"Since January 1, 2023, **eight** unique NBA pl..."
2,What is the most recent film to join the top 1...,Ne Zha 2,"Based on the provided data, the most recent fi..."
3,What is the current age of the last American e...,82 years old,"Based on the provided information, the most re..."
4,"How many airlines are members of IATA, the org...",359,"As of June 2024, the International Air Transpo..."
...,...,...,...
106,Who broke the short course world record in wom...,Wang Jianjiahe,"Based on the research performed, the informati..."
107,Who is the most recent female middle school st...,Binwei Yan,Based on the analysis of China's International...
108,How many movies with an estimated net budget o...,6,"Based on the provided data, **six** movies wit..."
109,Who was the purchaser in the largest confirmed...,Astra Zeneca,"Based on the provided information, the purchas..."
110,What is the total number of branches of the Ak...,350,"Based on the provided information, the Akhil B..."